.home-top{
  margin: 64px auto 0 auto;
  max-width: 1200px;
}

.home-logo{
    max-width: 400px;
    margin: 0 auto;
}

.home-logo img{
    width: 100%;
}

.home-tagline{
    color: rgba(0,0,0,0.5);
    font-size: 14px;
    padding: 16px 0 12px 0;
    font-family: 'ITC Cheltenham Std';
    text-align: center;
}

.home-tagline a, .home-social a{
  color: inherit;
}

.home-tagline a:hover, .home-social a:hover{
  color: #000;
}

.home-social{
  display: inline-flex;
}

.home-social-item{
  margin: 0 6px;
}

.home-cat{
    height: 42px;
    /* border-top: 1px solid rgba(0,0,0,0.2); */
    border-bottom: 1px solid rgba(0,0,0,1.0);
    line-height: 42px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 32px;
    font-size: 14px;
}

.home-cat ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.home-cat ul li{
    white-space: nowrap;
    margin-right: 16px;
}

.home-cat ul li:last-of-type{
  margin-right: 0;
}

.home-cat a{
    color: rgba(0,0,0,0.5);
    font-family: 'Avenir Pro 55 Roman'!important;
}

.home-strip-outer{
    overflow-x: auto;
}

.home-strip{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 12px 0;
}

.home-strip a{
    color: unset;
}

.strip-square{
  background-color: #222;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  border-radius: 4px;
}

.strip-square img{
  width: 100%;
  border-radius: 4px;
}

.strip-item{
  margin-right: 12px;
  padding-right: 12px;
  border-right: 1px solid rgba(0,0,0,0.1);
  align-items: center;
}

.strip-item, .strip-complex-item{
    grid-column-gap: 16px;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
}

.sidebar-strip .strip-item{
  margin-right: 0;
  padding-right: 0;
  border: none;
  font-family: 'Avenir Pro 55 Roman';
}

.sidebar-strip div.strip-item:first-of-type{
  margin-bottom: 8px;
}

div.strip-item:last-of-type{
    padding-right: 0;
    margin-right: 0;
    border: 0;
}

.strip-tag{
  text-transform: uppercase;
  font-family: 'Avenir Pro 85 Heavy';
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 12px;
  color: rgba(0,0,0,0.5);
}

.strip-subscribe{
  font-family: 'Avenir Pro 85 Heavy';
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  color: #fff;
}

.strip-subscribe span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.strip-main{
  font-family: 'ITC Cheltenham Std';
  margin-top: 6px;
  font-weight: 600;
  line-height: 1.1;
}

.strip-sub{
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}

.strip-complex{
    grid-template-rows: repeat(2,min-content);
    grid-row-gap: 8px;
    align-content: center;
}

.strip-complex-item{
    grid-column: 1/3;
}

.strip-complex .strip-square{
    width: 28px;
    height:28px;
}