.home-featured, .home-sects{
  margin: 0 auto;
  max-width: 1200px;
}

.article-news-main{
  margin-bottom: 42px;
}

.article-image img{
  max-width: 100%;
}

.article-news-side .article-image img{
  max-height: 240px;
}

.article-news-side, .article-sect{
  margin-bottom: 42px;
}

.article-news-main .article-text{
  grid-column: 1/2;
  position: relative;
  padding-bottom: 42px;
}

.article-news-main .article-image{
  grid-column: 2/4;
}

.article-news-side .article-image{
  max-height: 300px;
}

.sect-header + .article-sect h2{
  font-size: 24px;
}

.article-sect .article-image{
  text-align: right;
}

.article-sect .article-image img{
  max-height: 140px;
}

.article-item .article-author, .sports-coverage-item .article-author{
  font-family: 'Avenir Pro 85 Heavy';
  padding-bottom: 2px;
  color: rgba(0,0,0,0.4);
}

.article-news-side .article-author, .article-news-side .article-date{
  display: inline-block;
}

.article-news-side .article-date{
  opacity: 0.4;
  margin-left: 8px;
}

.article-about{
  font-family: 'Avenir Pro 85 Heavy';
}

.article-date{
  font-family: 'Avenir Pro 55 Roman';
  color: rgba(0,0,0,0.6);
}

.article-news-main{
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.article-news-main h2{
  font-size: 32px;
}

.article-news-side h2, .article-sect h2{
  font-size: 18px;
}

.article-news-main .article-bottom{
  position: absolute;
  bottom: 0;
}

.article-news-main .score-box{
  margin-bottom: 12px;
}

.article-news-side .score-box{
  margin-top: 12px;
}

.article-category{
  font-family: 'Avenir Pro 85 Heavy';
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.home-featured .article-category, .home-sects .article-category{
  font-size: 12px;
}

.article-item h2{
  font-family: 'ITC Cheltenham Std';
  line-height: 1.1;
  margin: 0;
}

.article-item h2 a, .sports-coverage-item h3 a{
  color: #000;
  transition: color 0.1s ease;
}

.article-item h2 a:hover, .sports-coverage-item h3 a:hover{
  color: rgba(0,0,0,0.5);
}

.article-image:hover{
  opacity: 0.8;
}

.article-sect:not(.article-noimage){
  display: grid;
  grid-template-columns: 1fr 140px;
  grid-column-gap: 24px;
}

@media (min-width: 1200px){

  .home-featured:after{
    content: '';
    display: block;
    clear: both;
  }

.article-news-side .article-image{
  margin-top: 12px;
}

.home-featured .article-item{
  float: left;
}

.home-featured .article-news-main{
  width: calc(75% - 6px);
  padding-bottom: 24px;
}

.article-news-side{
  width: calc(25% - 18px);
}
}

@media (min-width: 768px){
.article-news-main{
  display: grid;
  grid-column-gap: 24px;
}

.article-archive{
  padding: 24px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.article-archive:not(.article-noimage){
    display: grid;
    grid-template-columns: 1fr 140px;
    grid-column-gap: 24px;
  }
}

@media (min-width: 900px){
  .article-news-main{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (min-width: 768px){
  .home-sects-inner:after{
    content: '';
    display: block;
    clear: both;
  }

  .home-sect{
    width: calc(50% - 42px);
    float: left;
    border-top: 1px solid #000;
  }
}

@media (max-width: 1200px){
  .article-news-side:not(.article-noimage){
    display: grid;
    grid-template-columns: 1fr 140px;
    grid-column-gap: 24px;
  }

  .home-featured .article-news-main{
    width: 100%;
  }
}

@media (max-width: 1200px) and (min-width: 900px){

  .home-featured .article-news-side{
    width: calc(33.3% - 16px);
  }
}

@media (max-width: 900px) and (min-width: 768px){
  .article-news-main{
    grid-template-columns: repeat(2,1fr);
  }

  .home-featured .article-news-side{
    width: calc(50% - 12px);
  }
}

@media (max-width: 768px){
  .article-news-side{
    width: 100%;
  }

  .article-news-main .article-image{
    margin-top: 16px;
  }
}

@media (max-width: 1100px){
  .article-news-side:not(.article-noimage), .article-sect:not(.article-noimage){
    grid-template-columns: 1fr 96px;
  }
}