.home-container{
    max-width: 1200px;
    padding: 0 24px;
    display: grid;
    grid-column-gap: 42px;
    margin: 0 auto;
}

@media (min-width: 700px){
    .home-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1100px){
    .home-container{
        grid-template-columns: repeat(3, 1fr);
    }
}