.home-container {
    max-width: 1200px;
    padding: 0 24px;
    display: grid;
    grid-column-gap: 42px;
    margin: 0 auto;
}

.home-top-ad{
    margin: 48px 0;
}

@media (min-width: 700px){
    .home-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .home-lede{
        grid-column: 1/3;
        grid-row: 1;
    }

    .home-top-ad{
        grid-column: 1/3;
    }

    .lede-horizontal h2{
        font-size: 36px;
    }
}

@media (min-width: 1100px){
    .home-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .home-container > .home-popular{
        grid-column: 3;
        grid-row: 1;
    }

    .home-left .home-popular{
        display: none;
    }

    .home-top-ad{
        grid-column: 1/4;
    }
}

@media (max-width: 1100px){
    .home-container > .home-popular{
        display: none;
    }
}

@media (min-width: 700px) and (max-width: 1100px){
    .home-sidebar{
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
    }
}

/* HOME POPULAR */

.home-popular h1{
    font-size: 24px;
    font-family: 'ITC Cheltenham Std';
    margin: 48px 0 32px 0;
}

.viewcount{
    opacity: 0.4;
    display: inline;
}

/* LEDE */
/* LEDE */
/* LEDE */

.home-lede{
    display: grid;
    margin: 48px 0;
}

.home-lede .article-image-inner{
    position: relative;
}

.lede-byline{
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-family: 'Avenir Pro 85 Heavy';
    letter-spacing: 1px;
    color: rgba(255,255,255,0.8);
    font-size: 12px;
    z-index: 1;
}

.lede-byline a{
    color: rgba(255,255,255,0.6);
    border-bottom: 2px solid rgba(255,255,255,0.3);
}

.lede-byline a:hover{
    color: #fff;
    border-bottom: 2px solid rgba(255,255,255,0.6);
}

/* LEDE-HORIZONTAL */

.lede-horizontal{
    grid-template-rows: repeat(2, minmax(min-content, max-content));
}

.lede-horizontal .article-text{
    margin-top: 24px;
}

.lede-horizontal h2{
    margin-bottom: 8px;
}

.lede-horizontal-headline .article-text{
    grid-row: 1;
    margin-top: 0;
}

.lede-horizontal-headline .article-image{
    margin-top: 24px;
}

/* LEDE-HORIZONTAL-OVERLAY */

.lede-horizontal-overlay{
    position: relative;
    grid-template-rows: minmax(min-content, max-content) 1fr;
}

.lede-horizontal-overlay .article-image{
    grid-row: 1;
    grid-column: 1;
}

.lede-horizontal-overlay .article-text{
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    padding: 16px;
    margin-top: auto;
    text-shadow: 0 0 12px rgba(0,0,0,0.6);
}

.lede-horizontal-overlay .article-text h2 a{
    color: #fff;
}

.lede-horizontal-overlay .article-author{
    color: rgba(255,255,255,0.9);
}

.lede-horizontal-overlay .article-date{
    color: rgba(255,255,255,0.7);
}

.lede-horizontal-overlay .lede-byline{
    top: 16px;
    bottom: unset;
}

.lede-horizontal-overlay .article-image-inner:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0) 100%);
    pointer-events: none;
}

/* LEDE-VERTICAL */

.lede-vertical{
    grid-template-columns: 280px 1fr;
    grid-template-rows: minmax(min-content, max-content) 1fr;
    grid-column-gap: 24px;
}

.lede-vertical .article-text{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-flow: column nowrap;
}

.lede-vertical .article-author{
    margin-top: auto;
}

.lede-vertical p{
    line-height: 1.4;
    opacity: 0.4;
}

/* HOME-SIDEBAR */

.sidebar-masthead img{
    max-width: 100%;
    display: block;
}

/* HOME-LIVE */

.home-live{
    width: 100%;
    background-color: #222;
}

.home-live-inner{
    max-width: 1200px;
    padding: 48px 24px;
    margin: 0 auto;
}

.home-live .sect-header h1{
    margin: 0;
}

.home-live h1 a{
    color: #fff;
}

.home-live h1 a:hover{
    color: #0082ca;
}

.live-posts{
    margin-top: 24px;
    display: flex;
    flex-flow: row wrap;
}

@media (min-width: 500px){
    .live-posts .article-item{
        margin-right: 24px;
    }
}

@media (min-width: 500px) and (max-width: 800px){
    .live-posts .article-item{
        flex: calc(50% - 12px) 0 0;
    }

    .live-posts div.article-item:nth-of-type(2n){
        margin-right: 0;
    }
}

@media (min-width: 800px) and (max-width: 1100px){
    .live-posts .article-item{
        flex: calc(33% - 16px) 0 0;
    }

    .live-posts div.article-item:last-of-type{
        display: none;
    }

    .live-posts div.article-item:nth-of-type(3){
        margin-right: 0;
    }
}

@media (min-width: 1100px){
    .live-posts .article-item{
        flex: calc(25% - 18px) 0 0;
    }

    .live-posts div.article-item:last-of-type{
        margin-right: 0;
    }
}

.live-posts .article-item h2 a{
    color: rgba(255,255,255,0.7);
}

.live-posts .article-item h2 a:hover{
    color: #fff;
}

.live-posts .article-item .article-author{
    color: rgba(255,255,255,0.9);
}

.live-posts .article-item .article-date{
    color: rgba(255,255,255,0.7);
}