.breaking-banner, .home-banner{
    width: 100%;
    height: 36px;
    text-align: center;
    color: #fff;
    font-family: 'Avenir 85 Heavy';
    line-height: 36px;
}

.home-banner{
    background-color: #0082ca;
}

.breaking-banner{
    background-color: #9c0000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.breaking-story-outer{
    width: 100%;
    overflow-x: auto;
    position: relative;
}

.breaking-scroll{
    padding: 12px;
    background-color:#fff;
    font-family: 'Avenir 85 Heavy';
    text-transform: uppercase;
    color:#000;
    position: absolute;
    bottom: 0;
    right: 0;
}

.breaking-story{
    min-width: 1000px;
    color: #fff;
    border-bottom: 4px solid #444;
    display: grid;
    grid-template-columns: minmax(24px,1fr) repeat(3, minmax(200px,400px)) minmax(24px,1fr);
}

.breaking-story:before{
    content: '';
    grid-column: 1/2;
}

.breaking-story:after{
    content: '';
    grid-column: 5/6;
}

.breaking-story *{
    box-sizing: border-box;
}

.breaking-story:before, .breaking-info{
    background-color: #000;
}

.breaking-story:after, .breaking-col{
    background-color: #222;
}

.breaking-info{
    padding: 64px 32px 64px 0;
}

.breaking-story h1{
    margin-top: 0;
    font-size: 36px;
    font-family: 'ITC Cheltenham Std';
    line-height: 1.0;
    font-weight: 400;
}

.breaking-info p, .breaking-info li, .breaking-col p{
    font-size: 20px;
    opacity: 0.7;
    line-height: 1.4;
}

.breaking-info li:hover, .breaking-info p:hover, .breaking-col p:hover{
    opacity: 1.0;
}

.breaking-col{
    padding-left: 32px;
    padding-bottom: 64px;
}

.breaking-col p{
    margin: 64px 0 16px 0
}

.breaking-coverage-label{
    background-color: #0082ca;
    color: #fff;
    padding: 6px;
    display: inline-block;
    font-family: 'Avenir';
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 64px 0 16px 0;
}

.breaking-story .article-item{
    padding: 16px;
    background-color: #fff;
    box-shadow: 10px 4px 24px 6px rgba(0,0,0,0.4);
}

.breaking-social{
    display: flex;
}

.breaking-social-item{
    margin-right: 16px;
    opacity: 0.7;
}

.breaking-social-item:hover{
    opacity: 1.0;
}

.breaking-social a{
    color: #fff;
    font-size: 20px;
}

.article-multimedia h2{
    margin-bottom: 16px;
}

@media (min-width: 972px) {
    .breaking-scroll{
        display: none;
    }
}
