.navbar{
  background-color: #000;
  height: 64px;
  top: 0;
  z-index: 5;
  font-family: 'Avenir Pro 55 Roman';
}

.sections-dropdown, .navbar{
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  padding: 0 24px;
}

.navbar-content{
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}

.navbar-sections-button{
  color: rgba(255,255,255,0.8);
  height: 36px;
  background-color: #333;
  padding: 0 12px;
  cursor: pointer;
  line-height: 36px;
  border-radius: 4px;
}

.navbar-item .fas{
  font-size: 14px;
}

.navbar-sections-button .fas{
  padding-right: 4px;
  font-size: 12px;
}

.navbar-sections-button:hover, .navbar-sections-button.activated{
  color: rgba(255,255,255,1.0);
}

.navbar-sections-button:hover{
  background-color: #2d2d2d;
}

.navbar-logo{
  height: 36px;
}

.navbar-logo img{
  height: 100%;
  filter: invert(100%);
}

.navbar-rightnav{
  margin-left: auto;
  display: inline-flex;
  flex-flow: row nowrap;
}

.navbar-item{
  padding-left: 32px;
  cursor: pointer;
}

.navbar-item a{
  color: #fff;
}

.sections-dropdown{
  background-color: #222;
  transition: all 0.4s ease;
  transform: translateY(-100%);
  z-index: 2;
  top: 64px;
  padding-bottom: 8px;
}

.sections-dropdown.activated, .search-dropdown.activated{
  transform: translateY(0);
}

.sections-dropdown-inner{
  font-size: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 24px;
}

.sections-dropdown-inner ul{
  flex-flow: column nowrap;
}

.sections-dropdown-inner ul li{
  margin: 8px 0;
}

.sections-dropdown-inner ul li a{
  color: #fff;
}

.search-dropdown{
  width: 100%;
  background-color: #222;
  transition: all 0.4s ease;
  transform: translateY(-100%);
  height: 64px;
  position: fixed;
  top: 64px;
  left: 0;
}

#searchform > div{
  margin-top: 13px;
  display: grid;
  grid-template-columns: 1fr 96px;
}

#searchform input{
  color: #fff;
  font-family: 'Avenir Pro 55 Roman';
}

#searchform .screen-reader-text{
  display: none;
}

#searchform input#s{
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  font-size: 24px;
  padding-bottom: 8px;
}

#searchform input#s:focus{
  outline: none;
}

#searchform input#searchsubmit{
  margin-left: 16px;
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
}

#searchform input#searchsubmit:hover{
  background-color: #fff;
  color: #333;
}

#searchform input#s, #searchform input#searchsubmit{
  height: 36px;
}

@media(min-width: 1200px){
  img.mobile-logo{
    display: none;
  }

  .navbar-logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    order: 3;
  }

  .sections-dropdown-inner{
    grid-template-columns: repeat(5, 1fr);
  }

  .sections-dropdown-inner > ul:last-of-type{
    grid-column: 5;
    text-align: right;
  }
}

@media(max-width: 600px){
  img.desktop-logo{
    display: none;
  }

  .navbar-rightnav{
    margin-left: 0;
  }

  .navbar-item:not(.navbar-search){
    display: none!important;
  }

  .navbar-sections-button{
    margin-left: auto;
  }

  .sections-dropdown{
    height: calc(100% - 64px);
  }

  .sections-dropdown-inner{
    font-size: 16px;
    padding-top: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  .sections-dropdown-inner ul{
    grid-column: 1;
  }

  .sections-dropdown-inner > ul:last-of-type{
    grid-column: 2;
    grid-row: 1;
  }
}