html, body{
  margin: 0;
  font-family: 'Mercury Text G1';
  font-size: 16px;
}

html{
  height: 100%;
}

#mfPreviewBar{
  display: none;
}

a{
  text-decoration: none;
  color: #0082ca;
}

.yt-container{
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  background-color: #222;
}

.yt-container iframe{
  border: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.wp-caption .yt-container{
  margin-bottom: 20px;
}

.home-top, .home-sects, .category-container, #searchform, .sections-dropdown-inner, .about-inner, .single-container, .sports-container{
    padding: 0 24px;
}

.single-container,.footer-inner, #searchform, .sports-container{
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
}

.category-container{
  margin: 0 auto;
  max-width: 1200px;
}

.single-container, .category-container{
  padding-top: 128px!important;
}

.single-container p, .category-container p, .lotw-text p{
    line-height: 1.5;
    font-size: 20px;
}

.single-container .wp-block-image{
  box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.24);
}

.wp-caption{
  width: 100%!important;
}

.article-about-top{
  width: 64px;
  height: 4px;
  background-color: #000;
  margin-bottom: 16px;
}

.sect-header h1, .post-categories{
  padding-bottom: 2px;
  font-family: 'Avenir Pro 85 Heavy';
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.sect-header h1{
  margin: 36px 0 24px 0;
}

.sect-header a, .post-categories a{
  /*color: rgba(0,0,0,0.3);*/
  transition: color 0.1s ease;
}

.post-categories a{
  font-family: 'Avenir Pro 85 Heavy';
  margin-right: 16px;
}

a.article-tag{
  color: #999;
}

.sect-header a:hover, .post-categories a:hover{
  color: #000;
}

#wpadminbar{
  display: none;
}

footer{
  width: 100%;
  background-color: #222;
  height: 64px;
  color: #fff;
  line-height: 64px;
}

.footer-inner{
  padding: 0 24px;
  overflow-x: auto;
}

footer a{
  color: #fff;
}

footer li{
  padding-right: 24px;
  white-space: nowrap;
}

.category-container h1{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 16px;
  font-family: 'Avenir Pro 85 Heavy';
  margin-top: 64px;
}

h1.author-title{
  padding-bottom: 24px;
  margin: 0;
}

.ad{
  text-align: right;
}

.ad a{
  font-size: 12px;
  color: rgba(0,0,0,0.4);
}

.ad a:hover{
  color: #000;
}

.ad img{
  box-sizing: border-box;
  border: 2px solid #666;
}

.home-top-ad{
  max-width: 1200px;
  margin: 32px auto;
}

.home-side-ad{
  max-width: 300px;
  margin: 32px auto;
}

.ad img, .home-top-ad img, .sidebar-ad img, .single-ad img{
  width: 100%;
  display: block;
}

.sidebar-ad, .single-ad{
  max-width: 300px;
  margin: 32px auto;
}

.author-prof img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.author-bio{
  margin-bottom: 32px;
}

.author-container{
  margin-top: 8px;
  display: flex;
  line-height: 42px;
}

.single-container div.author-container:last-of-type{
  margin-bottom: 8px;
}

.author-avatar{
  width: 42px;
  height: 42px;
  margin-right: 12px;
}

.author-avatar img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

@media(min-width: 600px){

  .page-container{
    max-width: 728px;
    width: 728px;
    min-height: calc(100vh - 256px);
  }

  .page-container h1{
    font-size: 42px;
  }

  .sidebar-ad{
    grid-column: 1/3;
  }

  .author-prof{
    grid-column: 2;
  }
}

@media(max-width: 600px){
  .article-commentary h2{
    font-size: 20px!important;
  }

  .article-commentary p{
    display: none;
  }
}


/* LOOK OF THE WEEK */
/* LOOK OF THE WEEK */
/* LOOK OF THE WEEK */
/* LOOK OF THE WEEK */
/* LOOK OF THE WEEK */

.lotw-container{
  max-width: 1200px;
  margin: 128px auto 0 auto;
}

.lotw-text{
  padding: 0 24px;
  max-width: 640px;
  margin: 0 auto 48px auto;
}

.lotw-text h1{
  font-family: 'ITC Cheltenham Std';
  font-size: 48px;
  margin-bottom: 8px;
}

/* clear fix */
.lotw-inner:after {
  content: '';
  display: block;
  clear: both;
}

.lotw-item {
  float: left;
  overflow: hidden;
}

.lotw-item img {
  display: block;
  width: 100%;
  transition: transform 0.4s ease;
}

.lotw-item:hover img{
  transform: scale(1.05);
}

.lotw-descript{
  position: absolute;
  transition: all 0.2s ease;
  box-shadow: 0;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  background-color: #222;
  color: #fff;
  width: 100%;
}

.lotw-descript-inner{
  padding: 16px;
}

.lotw-descript-inner h2{
  margin: 0;
}

.lotw-descript-inner h2 a{
  color: #fff;
}

.lotw-date{
  margin: 8px 0;
}

.lotw-item:hover > .lotw-descript{
  transform: translateY(0);
  box-shadow: 0px 0px 32px -4px rgba(0,0,0,1);
}

@media (min-width: 800px){
  .lotw-sizer,
  .lotw-item {
    width: 33.333%;
  }

  .lotw-wide{
    width: 66.666%;
  }
}

@media (max-width: 799.5px){
  .lotw-sizer,
  .lotw-item {
    width: 50%;
  }

  .lotw-descript h2{
    font-size: 16px;
  }
}

/* MULTILINGUAL */
/* MULTILINGUAL */
/* MULTILINGUAL */
/* MULTILINGUAL */
/* MULTILINGUAL */

@media (min-width: 768px){
  .multilingual-container{
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
  }

  .multilingual-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

@media (min-width: 900px){

  .multilingual-grid{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (min-width: 1200px){

  .multilingual-grid{
    grid-template-columns: repeat(4,1fr);
  }
}

@media (max-width: 768px){
  .multilingual-grid-item{
    margin-top: 12px;
  }
}

.multilingual-grid-item{
  background-color: #222;
  padding: 24px;
  color: #fff;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.multilingual-grid-item:hover{
  background-color: #000
}

.lang-label-1{
  font-size: 28px;
}

.lang-label-2{
  opacity: 0.6;
  font-size: 16px;
  margin-top: 8px;
}

.home-sects-right .multilingual-grid{
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
}

.home-sects-right .multilingual-grid-item{
  padding: 16px;
}

.home-sects-right .lang-label-1{
  font-size: 20px;
}

.home-sects-right .lang-label-2{
  margin-top: 4px;
}

/* LOTW-Interactive */

.lotw-interactive-container img{
  width: 100%;
}

.lotw-interactive-container{
  position: relative;
}

.lotw-interactive-marker, .lotw-interactive-descript{
  position: absolute;
  top: 0;
}

.lotw-interactive-descript{
  z-index: 1;
  background-color: #fff;
  box-shadow: 4px 4px 24px 4px rgba(0,0,0,0.4);
  padding: 20px;
  width: 650px;
  box-sizing: border-box;
  max-width: 100vw;
  transform: translateX(-50%);
  display: none;
}

.lotw-interactive-marker{
  width: 96px;
  height: 96px;
  border: 4px solid rgba(255,255,255,0.8);
  border-radius: 50%;
  transform: translate(-50%,-50%);
}

.lotw-interactive-marker:hover{
  background-color: rgba(255,255,255,0.6);
  cursor: pointer;
}

.lotw-interactive-marker.selected{
  background-color: rgba(0,0,0,0.5);
}

.lotw-interactive-close{
  text-align: right;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Avenir Pro 85 Heavy';
  font-weight: 700;
  margin-bottom: 16px;
}