html, body{
  margin: 0;
  font-family: 'Mercury Text G1';
  font-size: 16px;
}

#mfPreviewBar{
  display: none;
}

@media(min-width: 1200px){
  .single-container{
    grid-template-columns: 1fr 728px 1fr;
    grid-column-gap: 32px;
  }

  .articles-container{
    grid-template-columns: repeat(3,1fr) 1px repeat(2, 1fr);
    grid-column-gap: 32px;
  }

  .article-news-feature h2{
    grid-column: 1/4;
    font-size: 36px;
    margin-bottom: 14px;
  }

  .article-news-feature .article-image{
    grid-column: 1/3;
    grid-row: 3;
  }

  .article-news-feature .article-text{
    grid-column: 3/4;
    grid-row: 3;
  }

  .article-news-alt1 h2{
    grid-column: 1/2;
    font-size: 26px;
  }

  .article-news-alt1 .article-text{
    grid-column: 1/2;
    grid-row: 2;
  }

  .article-news-alt1 .article-image{
    grid-column: 2/4;
    grid-row: 1/3;
  }

  .article-news-alt2 h2{
    grid-column: 1/3;
    font-size: 22px;
  }

  .article-news-alt2 .article-text{
    grid-column: 1/3;
    grid-row: 2;
  }

  .article-news-alt2 .article-image{
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .article-about{
    grid-row: 2;
    grid-column: 1/2;
  }

  .sect-commentary{
    grid-column: 5/7;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: min-content;
  }

  .home-divider{
    width: 1px;
    height: 100%;
    background-color: #000;
    grid-column: 4;
    grid-row: 1;
  }

  .sect-commentary .article-item{
    grid-template-columns: repeat(2,1fr);
    grid-column: 1/3;
  }

  .sect-news .article-item{
    grid-template-columns: repeat(3,1fr);
  }

  .sect-news{
    grid-column: 1/4;
  }

  .sect-header{
    grid-column: 1 / 4;
  }

  .single-container .wp-block-image{
    grid-column: 2/4;
    margin: 0 0 32px 0;
  }

  .single-container p{
    margin: 0 0 32px 0;
    grid-column: 2/3;
  }

  .single-container h1{
    grid-row: 1;
    grid-column: 2/3;
  }
}

@media(max-width: 600px){
  .articles-container, .single-container{
    padding: 24px;
  }

  .menu-main-navigation-container{
    display: none;
  }

  .sect-commentary .article-item{
    grid-template-columns: 1fr 64px;
  }
}

.articles-container, .single-container{
  padding-top: 72px;
  margin: 0 auto;
  max-width: 1200px;
}

  .article-item{
    display: grid;
    grid-column-gap: 24px;
  }

.single-container{
  font-size: 20px;
  display: grid;
}

.single-container p{
    line-height: 1.5;
    font-size: 20px;
}

.single-container h1{
    font-family: 'ITC Cheltenham Std';
    font-size: 48px;
    line-height: 1.1;
}

.single-container figcaption{
  font-family: 'Avenir Pro 55 Roman';
}

.article-about{
  font-family: 'Avenir Pro 85 Heavy';
}

.article-date{
  font-family: 'Avenir Pro 55 Roman';
  color: rgba(0,0,0,0.6);
}

.advertisement{
  background-color: #bbb;
}

/*

.ad-skyscraper{
  width: 160px;
  height: 600px;
  grid-column: 1/2;
  grid-row: 3/7;
}

.ad-banner{
  width: 728px;
  height: 90px;
  grid-column: 2/3;
  grid-row: 8;
  margin-bottom: 32px;
}

*/



.article-about-top{
  width: 64px;
  height: 8px;
  background-color: #000;
  margin-bottom: 16px;
}

.articles-container{
  display: grid;
}

.article-item *{
  margin: 0;
}

.article-image{
  text-align: right;
}

.article-image img{
  max-width: 100%;
}

.sect-header h1{
  display: inline-block;
  border-bottom: 3px solid #000;
  padding-bottom: 2px;
  font-family: 'Avenir Pro 85 Heavy';
  font-size: 24px;
}

.article-item{
  padding: 24px 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.article-item h2{
  font-family: 'ITC Cheltenham Std';
  line-height: 1.1;
  margin: 0 0 8px 0;
}

.article-item h2 a{
  color: #000;
  text-decoration: none;
}

.article-item h2 a:hover{
  color: #555;
}

.article-item .article-author{
  font-family: 'Avenir Pro 85 Heavy';
  padding-bottom: 8px;
}

.article-commentary .article-image, .article-news-alt2 .article-image{
  max-height: 200px;
}

.article-commentary .article-image img, .article-news-alt2 .article-image img{
  max-height: 100%;
}

.navbar{
  background-color: #000;
  font-family: 'Roboto';
  position: fixed;
  width: 100%;
  height: 64px;
  top: 0;
  left: 0;
}

.navbar-content{
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo{
  height: 36px;
}

.navbar-logo img{
  height: 100%;
  filter: invert(100%);
}

#wpadminbar{
  display: none;
}

ul#menu-main-navigation{
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

ul#menu-main-navigation li{
  margin-left: 32px;
}

ul#menu-main-navigation li a{
  color: #fff;
  text-decoration: none;
}
