html, body{
  margin: 0;
  font-family: 'Mercury Text G1';
  font-size: 16px;
}

html{
  height: 100%;
}

#mfPreviewBar{
  display: none;
}

a{
  text-decoration: none;
  color: #0082ca;
}

.home-top, .category-container, #searchform, .sections-dropdown-inner, .about-inner, .articles-container, .single-container{
    padding: 0 24px;
}

.articles-container, .single-container,.footer-inner, #searchform{
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
}

.category-container{
  margin: 0 auto;
  max-width: 1200px;
}

.single-container, .category-container{
  padding-top: 128px!important;
}

.single-container p, .category-container p, .lotw-text p{
    line-height: 1.5;
    font-size: 20px;
}

.article-about{
  font-family: 'Avenir Pro 85 Heavy';
}

.article-date{
  font-family: 'Avenir Pro 55 Roman';
  color: rgba(0,0,0,0.6);
}

.single-container .wp-block-image{
  box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.24);
}

.wp-caption{
  width: 100%!important;
}

.article-about-top{
  width: 64px;
  height: 4px;
  background-color: #000;
  margin-bottom: 16px;
}

.sect-header h1, .post-categories{
  display: inline-block;
  padding-bottom: 2px;
  font-family: 'Avenir Pro 85 Heavy';
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.sect-header a{
  color: rgba(0,0,0,0.3);
  transition: color 0.1s ease;
}

.sect-header a:hover{
  color: #000;
}

.post-categories{
  font-size: 20px;
  letter-spacing: 2px;
}

.post-categories a{
  color: #333;
  font-family: 'Avenir Pro 85 Heavy';
}

#wpadminbar{
  display: none;
}

footer{
  width: 100%;
  margin-top: 64px;
  background-color: #222;
  height: 64px;
  color: #fff;
  line-height: 64px;
}

.footer-inner{
  padding: 0 24px;
}

footer a{
  color: #fff;
}

footer li{
  padding-right: 24px;
}

.category-container h1{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 24px;
  font-family: 'Avenir Pro 85 Heavy';
}

.category-container .article-item .article-text{
  grid-column: 1;
}

.category-container .article-item .article-image{
    grid-column: 2;
}

.category-container h1{
  margin: 0;
}

.ad{
  text-align: right;
}

.ad a{
  font-size: 12px;
  color: rgba(0,0,0,0.4);
}

.ad a:hover{
  color: #000;
}

.ad img{
  box-sizing: border-box;
  border: 2px solid #666;
}

.home-top-ad img, .sidebar-ad img, .single-ad img{
  width: 100%;
  display: block;
}

.sidebar-ad, .single-ad{
  max-width: 300px;
  margin: 32px auto;
}

.category-container .author-prof{
  width: 168px;
  height: 168px;
  margin-bottom: 32px;
}

.author-prof img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.author-bio{
  margin-bottom: 32px;
}

.category-container p{
  font-size: 18px;
}

@media(min-width: 600px){

  .category-container{
    max-width: 640px;
    width: 640px;
  }

  .page-container{
    max-width: 728px;
    width: 728px;
    min-height: calc(100vh - 256px);
  }

  .category-container .article-item{
    grid-column: 2;
    grid-template-columns: 1fr 256px;
    grid-column-gap: 24px;
  }

  .category-container h1{
    font-size: 56px;
  }

  .page-container h1{
    font-size: 42px;
  }

  .category-container .article-item .article-image{
    height: 192px;
  }

  .category-container .article-item .article-image img{
    max-height: 100%;
  }

  .category-container > p{
    grid-column: 2/3;
  }

  .sidebar-ad{
    grid-column: 1/3;
  }

  .author-prof{
    grid-column: 2;
  }
}

@media(max-width: 600px){

  .category-container .article-item{
    grid-template-columns: 1fr 96px;
    grid-column-gap: 24px;
    padding: 20px 0;
  }

  .category-container .article-item h2{
    font-size: 24px;
  }

  .article-commentary h2{
    font-size: 20px!important;
  }

  .article-commentary p{
    display: none;
  }
}


/* LOOK OF THE WEEK */
/* LOOK OF THE WEEK */
/* LOOK OF THE WEEK */
/* LOOK OF THE WEEK */
/* LOOK OF THE WEEK */

.lotw-container{
  max-width: 1200px;
  margin: 128px auto 0 auto;
}

.lotw-text{
  padding: 0 24px;
  max-width: 640px;
  margin: 0 auto 48px auto;
}

.lotw-text h1{
  font-family: 'ITC Cheltenham Std';
  font-size: 48px;
  margin-bottom: 8px;
}

/* clear fix */
.lotw-inner:after {
  content: '';
  display: block;
  clear: both;
}

.lotw-item {
  float: left;
  overflow: hidden;
}

.lotw-item img {
  display: block;
  width: 100%;
}

.lotw-descript{
  position: absolute;
  transition: all 0.2s ease;
  box-shadow: 0;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  background-color: #222;
  color: #fff;
  width: 100%;
}

.lotw-descript-inner{
  padding: 16px;
}

.lotw-descript-inner h2{
  margin: 0;
}

.lotw-descript-inner h2 a{
  color: #fff;
}

.lotw-date{
  margin: 8px 0;
}

.lotw-item:hover > .lotw-descript{
  transform: translateY(0);
  box-shadow: 0px 0px 32px -4px rgba(0,0,0,1);
}

@media (min-width: 800px){
  .lotw-sizer,
  .lotw-item {
    width: 33.333%;
  }
}

@media (max-width: 799.5px){
  .lotw-sizer,
  .lotw-item {
    width: 50%;
  }

  .lotw-descript h2{
    font-size: 16px;
  }
}

/* SCORE BOX */
/* SCORE BOX */
/* SCORE BOX */
/* SCORE BOX */
/* SCORE BOX */

.score-box{
  width: 240px;
  display: grid;
  color: #fff;
  grid-template-columns: 1fr min-content;
  background-color: #0072BC;
}

.score-name, .score-num{
  padding: 12px;
  border-bottom: 1px solid #fff;
}

.score-num{
  text-align: right;
}