@font-face {
  font-family: 'ITC Cheltenham Std';
  src: url("Copy of Adobe - CheltenhamStd-Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Cheltenham Std';
  src: url("Copy of Adobe - CheltenhamStd-BookItalic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ITC Cheltenham Std';
  src: url("Copy of Adobe - CheltenhamStd-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Cheltenham Std';
  src: url("Copy of Adobe - CheltenhamStd-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'ITC Cheltenham Std';
  src: url("Copy of Adobe - CheltenhamStd-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Cheltenham Std';
  src: url("Copy of Adobe - CheltenhamStd-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ITC Cheltenham Std';
  src: url("Copy of Adobe - CheltenhamStd-Ultra.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Cheltenham Std';
  src: url("Copy of Adobe - CheltenhamStd-UltraItalic.otf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Mercury Text G1';
  src: url("Copy of MercuryTextG1-Roman.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mercury Text G1';
  src: url("Copy of MercuryTextG1-Italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mercury Text G1';
  src: url("Copy of MercuryTextG1-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mercury Text G1';
  src: url("Copy of MercuryTextG1-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Mercury Text G1';
  src: url("Copy of MercuryTextG1-Semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mercury Text G1';
  src: url("Copy of MercuryTextG1-SemiboldItalic.otf");
  font-weight: 600;
  font-style: italic;
}
